
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-mobile.png");
}

.terms {
    color:hsl(0, 100%, 74%);
}

h2 {
    color: hsl(0, 0%, 100%);
}

p {
    color: hsla(0, 0%, 100%, 0.745) ;
   
}

.disclaimer {
    color: hsla(0, 0%, 100%, 0.745) ;
}

.first-button {
background-color: hsl(248, 32%, 49%) ;
color: hsl(0, 0%, 100%);
}

form {
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }